@use "../global/" as *;

.button_p {
  text-decoration: none;
  background-color: $clr_orange;
  padding: 12px 24px;
  text-align: center;
  font-family: $font_inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: $clr_bg_white;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  border: 1px solid transparent;
  text-transform: capitalize;
  white-space: nowrap;
  transition: 300ms ease-in;
  &:hover {
    background-color: $clr_bg_white;
    color: $clr_txt_s;
    border: 1px solid $clr_txt_s;
  }
}

.button_s {
  text-decoration: none;
  background-color: $clr_bg_white;
  padding: 12px 24px;
  text-align: center;
  font-family: $font_inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: $clr_blue_dark;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  text-transform: capitalize;
  white-space: nowrap;
  border: 1px solid $clr_blue_dark;
  transition: 300ms ease-in;
  &:hover {
    background-color: $clr_bg_white;
    color: $clr_txt_s;
  }
}

.scroll_to_up {
  &.hiden {
    display: none;
  }
  position: sticky;
  bottom: 3rem;
  right: 4.2rem;
  z-index: 1000;
  transition: 300ms;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  svg {
    width: 53px;
    height: 53px;
  }
}
