@use "../global/" as *;

.contact {
  padding: 100px 0;

  @include breakpoint-down(small) {
    padding: 35px 0;
  }
  .contact-heading {
    margin-bottom: 2rem;
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 120%;
      color: $clr_blue_dark;
      margin-bottom: 24px;
    }
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: $clr_txt_s;
    }
  }
  .content {
    display: flex;
    gap: 119px;
    align-items: center;
    @include breakpoint-down(small) {
      flex-direction: column;
      gap: 2rem;
    }
    form {
      flex-basis: 50%;
      label,
      .label {
        font-family: $font_poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $clr_txt_s;
        text-transform: capitalize;
        margin-top: 24px;
        margin-bottom: 8px;
      }
      .input {
        padding: 18px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        background-color: $clr_bg_grey_dark;
        margin-bottom: 30px;
        width: 100%;
      }
      textarea {
        height: 8rem;
        resize: none;
        width: 100%;
      }
    }
    .infos {
      flex-basis: 35%;
      @include breakpoint-down(small) {
        order: -1;
        text-align: center;
      }
      h3 {
        font-family: $font_poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: $clr_blue_dark;
        text-align: left;
      }
      .info {
        display: flex;
        padding: 17px 0;
        svg {
          color: $clr_bg_grey;
          margin-right: 36px;
          margin-top: 7px;
        }
        p,
        span {
          font-family: $font_poppins;
          font-style: normal;
          line-height: 150%;
          text-align: left;
        }
        p {
          font-size: 20px;
          font-weight: 500;
          color: $clr_txt_p;
          text-align: left;
        }
        span {
          font-size: 14px;
          font-weight: 400;
          color: $clr_txt_s_t;
        }
      }
    }
  }
}
