@use "../global/" as *;

.contact {
  padding: 100px 0;

  .content {
    display: flex;
    gap: 119px;
    align-items: center;
    @include breakpoint-down(small) {
      flex-direction: column;
    }
    form {
      flex-basis: 50%;
      label {
        text-transform: capitalize;
        margin-top: 24px;
        margin-bottom: 8px;
      }
      .main-input {
        padding: 18px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        background-color: $clr_bg_grey_dark;
        margin-bottom: 30px;
        width: 100%;
      }
      textarea.main-input {
        height: 8rem;
        resize: none;
      }
    }
    .infos {
      flex-basis: 35%;
      @include breakpoint-down(small) {
        order: -1;
        text-align: center;
      }
      .info {
        display: flex;
        padding: 17px 0;
        svg {
          color: $clr_bg_grey;
          margin-right: 36px;
          margin-top: 7px;
        }
        p,
        span {
          font-family: $font_poppins;
          font-style: normal;
          line-height: 150%;
        }
        p {
          font-size: 20px;
          font-weight: 500;
          color: $clr_txt_p;
        }
        span {
          font-size: 14px;
          font-weight: 400;
          color: $clr_txt_p;
        }
      }
    }
  }
}
