@use "../global/" as *;

.faq {
  background-color: $clr_bg_white;
  display: flex;
  align-items: flex-end;
  column-gap: 100px;
  padding-bottom: 100px;
  @include breakpoint-down(medium) {
    flex-direction: column;
    gap: 2rem;
  }

  .faq-accordion {
    align-self: flex-start;
    .header {
      margin-bottom: 44px;
      h1 {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        svg {
          margin-right: 1rem;
        }
      }
    }
    .card {
      background-color: #fff;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.3px;
      color: #475f7b;
      overflow: hidden;
      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .rc-accordion-toggle {
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        justify-content: space-between;
        transition: 300ms;
        padding: 20px 24px;
        &.active {
          background-color: #2c2c2c;
          .rc-accordion-icon {
            transform: rotate(180deg);
            color: #fff;
          }
          .accordion-title {
            color: #fff;
          }
        }
      }
      .rc-accordion-card {
        border-radius: 5px;
        border: 1px solid rgba(175, 175, 175, 0.78);
        overflow: hidden;

        &:not(:first-child),
        &:not(:last-child) {
          border-top: none;
        }
        &:first-child {
          border-top: 1px solid rgba(175, 175, 175, 0.78);
        }
        &:last-child {
          border-bottom: 1px solid rgba(175, 175, 175, 0.78);
        }
      }
      .accordion-title {
        color: $clr_txt_s;
        font-family: $font_roboto;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        position: relative;
        margin-bottom: 0;
        transition: 300ms;

        span {
          color: $clr_orange;
          font-family: $font_roboto;
          font-weight: 700;
          font-size: 18px;
          line-height: 27px;
          margin-right: 5px;
        }
      }

      .rc-accordion-icon {
        position: relative;
        top: 2px;
        color: #2c2c2c;
        transition: 0.35s;
        font-size: 12px;
      }
      .rc-accordion-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 52px 24px;
        p {
          font-family: $font_poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
        }
      }
      .rc-collapse {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease;
        &.show {
          height: auto;
        }
      }
    }
  }
  .faq-contact {
    display: flex;
    flex-direction: column;
    position: relative;

    @include breakpoint-down(medium) {
      flex-direction: row;
    }
    img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      @include breakpoint-down(medium) {
        width: 70%;
      }
      @include breakpoint-down(medium) {
        width: 60%;
      }
    }
    .faq-contact-content {
      padding: 39px 33px;
      background: $linear_gradient;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      @include breakpoint-down(small) {
        padding: 25px 15px;
      }
      h3 {
        font-family: $font_poppins;
        font-weight: 600;
        font-size: 18px;
        line-height: 23.4px;
        color: $clr_bg_white;
        margin-bottom: 12px;
      }
      p {
        font-family: $font_poppins;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $clr_bg_white;
        margin-bottom: 28px;
      }
      svg {
        position: absolute;
        bottom: 15px;
        right: 20px;
      }
    }
  }
}
