@use "../global/" as *;
.find-doc {
  padding: 100px;
  padding-left: 200px;
  display: flex;
  justify-content: space-between;
  column-gap: 130px;

  @include breakpoint-down(medium) {
    column-gap: none;
    padding: 50px 30px;
  }
  @include breakpoint-down(medium) {
    column-gap: none;
    padding: 50px 25px;
  }
  img {
    width: 45%;
    @include breakpoint-down(medium) {
      display: none;
    }
  }
  div {
    h1 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}
