@use "../global/" as *;

.logo {
  position: relative;
  font-family: $font_poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: $clr_blue_dark;
  white-space: nowrap;
  svg,
  .plus-icon {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: $clr_orange;
    color: $clr_bg_white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    padding: 0.25rem;
  }
}
