@use "../global/" as *;
.search {
  display: flex;
  padding-bottom: 100px;
  column-gap: 100px;
  background-color: $clr_bg_white;
  align-items: center;
  @include breakpoint-down(small) {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .search-img {
    width: 50%;
    position: relative;
    @include breakpoint-down(small) {
      width: 80%;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .quality-feedback {
      position: absolute;
      bottom: 15%;
      right: -60px;
      display: flex;
      padding: 14px 16px;
      box-shadow: 0px 12px 32px rgba(63, 128, 240, 0.2);
      border-radius: 1px;
      background-color: $clr_bg_white;
      > svg {
        background-color: $clr_blue_dark;
        border-radius: 50%;
        padding: 5px;
      }
      > div {
        display: flex;
        flex-direction: column;
        p {
          font-family: $font_poppins;
          font-weight: 500;
          font-style: normal;
          font-size: 1rem;
          line-height: 150%;
          color: $clr_txt_s;
          display: block;
        }
        .stars {
          display: flex;
          margin-left: 1rem;
          svg {
            color: #ffc107;
          }
        }
      }
    }
  }
  .search-content {
    width: 40%;
    @include breakpoint-down(small) {
      width: 80%;
    }
    h1 {
      font-size: 2rem;
      line-height: 40px;
      color: $clr_blue_dark;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2.5rem;
    }
    .button_p {
      padding: 12px 48px;
    }
  }
}
