@use "../global/" as *;

.testimonials {
  .testimonials-container {
    padding: 42px;
    .testimonial-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 13px;
      p {
        color: $clr_orange;
        font-weight: 600;
        position: relative;
        padding: 13px;
        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 120%;
          height: 3px;
          background-color: $clr_orange_t;
        }
      }
      h1 {
        position: relative;
        margin: 20px;
      }
      .stars {
        display: flex;
        gap: 10px;
        margin: 0 auto;
      }
    }
    .testimonial-content {
      position: relative;
      width: 100%;
      padding: 0 55px;
      svg {
        position: absolute;
        top: 20%;
        cursor: pointer;
        z-index: 10;
        &.previous-btn {
          left: 30px;
        }
        &.next-btn {
          right: 30px;
        }
      }
      > div {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        .testi-desc {
          padding: 0 90px;
          font-family: $font_poppins;
          font-weight: 400;
          font-size: 1rem;
          line-height: 150%;
          color: $clr_txt_s;
        }
        .testi-avatar {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          margin: 24px auto 32px;
          border: 1px solid $clr_orange;
        }
        .testi-author {
          font-family: $font_poppins;
          font-weight: 600;
          font-size: 1rem;
          line-height: 150%;
          color: $clr_txt_s;
        }
        .testi-role {
          font-family: $font_poppins;
          font-weight: 400;
          font-size: 1rem;
          line-height: 150%;
          color: $clr_txt_s_t;
        }
      }
    }
  }
}
