@use "./variables" as *;
@use "./breakpoints" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
dl,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
textarea,
select {
  outline: none;
  border: none;
}
.clearfix {
  clear: both;
}
p,
span {
  @include breakpoint-down(small) {
    font-size: 14px !important;
  }
}
.container {
  margin: 0 100px;
  @include breakpoint-down(medium) {
    margin: 0 65px;
  }
  @include breakpoint-down(small) {
    margin: 0 35px;
  }
}

.section {
  padding-top: 100px;
  @include breakpoint-down(medium) {
    padding-top: 80px;
  }
  @include breakpoint-down(small) {
    padding-top: 65px;
  }
}

.text-normal {
  font-family: $font_poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: $clr_txt_s;
  @include breakpoint-down(small) {
    font-size: 14px;
  }
}
.text-header {
  font-family: $font_poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 150%;
  color: $clr_txt_p;
  @include breakpoint-down(medium) {
    font-size: 2rem;
  }
  @include breakpoint-down(small) {
    font-size: 1.3rem;
  }
}
.emty-area-white {
  height: 423px;
  background-color: $clr_bg_white;
  @include breakpoint-down(medium) {
    height: 250px;
  }
  @include breakpoint-down(small) {
    height: 120px;
  }
}
.emty-area-gray {
  height: 200px;
  background-color: $clr_bg_grey;
  @include breakpoint-down(medium) {
    height: 110px;
  }
  @include breakpoint-down(small) {
    height: 70px;
  }
}
