@use "./variables" as *;
@use "./breakpoints" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
dl,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  border: none;
}
.clearfix {
  clear: both;
}

.container {
  margin: 0 100px;
  @include breakpoint-down(medium) {
    margin: 0 65px;
  }
  @include breakpoint-down(small) {
    margin: 0 35px;
  }
}

.section {
  padding-top: 100px;
}

.text-normal {
  font-family: $font_poppins;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: $clr_txt_s;
}
.text-header {
  font-family: $font_poppins;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 150%;
  color: $clr_txt_s;
}
